/* for google maps */
/*html, body { height: 100%; margin: 0; padding: 0; }*/
/*map-canvas { height: 400px; }*/

#map-search {
    padding: 0 10px 0 10px;
}
input {
    width: 330px;
}

legend {
    font-weight: 700;
    color: #fff;
}
h1 {
    text-align: left;
}

.pure-button-primary {
    background-color: #f9bc2c;
}
header p {
    text-align: left;
}
